/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

element.style {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
a {
    color: #3c46ff;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    text-decoration: none;

}

/* Button Styles */
.button {
    display: inline-block;
    position: relative;
    text-decoration: none;
}




    
.button-up {
    position: relative;
    z-index: 1;
    padding: 20px 30px;
    background-color: #000;
}


.button-down {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    padding: 20px 30px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-transform: translate(7px, 7px);
    -ms-transform: translate(7px, 7px);
    transform: translate(7px, 7px);
}

.button-text {
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
}


.button-text.no-opacity {
    opacity: 0;
}
.button-up .button-text {
    transition: transform 0.3s ease;
    /* Add smooth transition */
}

.button-up .button-text:hover {
    transform: translateY(-8px);
    /* Move text upward by 8px on hover */
}